@model DAL.Model.ViewModels.GetProductsResponse
@{
    ViewBag.Title = "Index";
}

<script src="~/assets/js/jquery-1.12.4.min.js"></script>

<div class="row bg-white mt-30">

    @if (!string.IsNullOrEmpty(ViewBag.OperationType))
    {
        string Success = "";
        if (ViewBag.Success == true)
        {
            Success = "Success";
        }
        else
        {
            Success = "Warning";
        }
        if (ViewBag.OperationType == "Insert")
        {
            <div class="alert alert-success alert-dismissible" style="width:100% !important">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Success !</strong> @ViewBag.Message
            </div>
        }
        else if (ViewBag.OperationType == "Update")
        {
            <div class="alert alert-info alert-dismissible" style="width:100% !important">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>@Success !</strong> @ViewBag.Message
            </div>
        }
    }


    <div class="col-12 text-right mt-40 mb-20">
        <h3 class="text-left txtstage pull-left mb-0 pt-5">Products</h3>
        <div class="mb-10">
            <button type="button" id="addBtn" _id="0" class="btn btn-default" value="submit" data-toggle="modal" data-target="#myModal">Add Product</button>
        </div>
    </div>
    <div class="col-12">
        <div class="panel">
            <div class="panel-body">
                <div id="productslist" ></div>
                @*<table id="myTable" class="table table-condensed table-striped" data-role="datatable" data-info="false">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Unit</th>
                            <th>Size</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var items in Model.ModelObject.ToList())
                            {

                                <tr>
                                    <td>@items.ID</td>
                                    <td>@items.Title</td>
                                    <td>@items.Unit</td>
                                    <td>@items.Size</td>
                                    <td>@items.Description</td>
                                    <td>
                                        <button class="btngrid" title="Edit" type="button" id="Edit" onclick="EditModal(@items.ID)" _id="0" value="submit" data-toggle="modal" data-target="#myModal">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6">No Record Found</td></tr>
                        }
                    </tbody>
                </table>*@

                @*@(Html.DevExtreme().DataGrid()
                    .ID("gridController")
                    .ShowBorders(true)
                    .Columns(columns => {
                        columns.Add().DataField("ID");
                        columns.Add().DataField("Title");
                        columns.Add().DataField("Unit");
                        columns.Add().DataField("Size");
                        columns.Add().DataField("Description");
                    })
                    .DataSource(ds => ds
                                        .Mvc()
                                        .Controller("Products")
                                        .LoadAction("Index"))
                )*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Product</h2>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        ProductGrid();
    });

    function EditModal(a) {
        $(".modal-body").load("/Products/Edit?id=" + a)
    }

    $("#addBtn").click(function () {
        $(".modal-body").load("/Products/Create")

    });

    function ProductGrid()
    {
        $.ajax({
            url: '@Url.Action("GetPropductsList", "Products")',
            contentType: 'application/json; charset=utf-8',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function (result) {

                $("#productslist").dxDataGrid({
                    dataSource: result.productslist,
                    columnsAutoWidth: true,
                    paging: {
                        pageSize: 10
                    },
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    searchPanel: {
                        visible: true,
                        width: 240,
                        placeholder: "Search..."
                    },
                    headerFilter: {
                        visible: true
                    },
                    searchPanel: { visible: true },
                    columns: ["ID", "Title", "Size", "StageID", "Description", "Unit", "UnitPrice",

                    {
                        dataField: "ID",
                        caption: "Action",
                        cellTemplate: function (container, options) {
                            container.append("<button class='btngrid' title='Edit' type='button' id='Edit' onclick='EditModal( " + options.value + ")' _id='0' value='submit' data-toggle='modal' data-target='#myModal'><i class='fa fa-edit' aria-hidden='true'></i></button>")
                        }
                    }],
                    showBorders: true
                });

            },
            error: function (result) {
            }
        });
    }

</script>