@model DAL.Model.ViewModels.GetDynamicFieldResponse
@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery.form.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.form.min.js"></script>

<div class="row bg-white mt-30">
    <div class="col-12 text-right mt-20 mb-20">
        <h3 class="fs-24 text-left txtstage pull-left mb-0 pt-5">Edit</h3>
        <div class="mb-10">
            @*<div class="breadcome-heading cstm">
                    <form role="search" class="">
                        <input type="text" placeholder="Search..." class="form-control cstmform">
                        <a href="">
                            <i class="fa fa-search cstm-align"></i>
                        </a>
                    </form>
                </div>*@
            <a href="@Url.Action("Index","DynamicFields")">Go Back</a>
        </div>
    </div>
    <div class="col-12">
        <div class="panel">
            <div class="panel-body">
                <div class="">
                    @using (Html.BeginForm("Edit", "DynamicFields", FormMethod.Post, new { @class = "frm_full" }))
                    {
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.ModelObject.ID)

                        <div class="row" style="display:none">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="pwd">Tab ID</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(m => m.ModelObject.TabID,
                                   new[]{
                                            new SelectListItem(){ Value = "1", Text = "Overview", Disabled = true},
                                            new SelectListItem(){ Value = "2", Text = "Requirements", Selected=true},
                                            new SelectListItem(){ Value = "3", Text = "Estimate", Disabled = true},
                                            new SelectListItem(){ Value = "4", Text = "Drafting", Disabled = true},
                                            new SelectListItem(){ Value = "5", Text = "Manufacture", Disabled = true},
                                            new SelectListItem(){ Value = "6", Text = "Installation", Disabled = true},
                                            new SelectListItem(){ Value = "7", Text = "Variations", Disabled = true},
                                            new SelectListItem(){ Value = "8", Text = "Delivery", Disabled = true},
                                            new SelectListItem(){ Value = "9", Text = "Finance", Disabled = true},
                                            new SelectListItem(){ Value = "10", Text = "QuoteChecker", Disabled = true}

                                            },
                                            "Select Tabs",
                                            new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                <label class="control-label" for="pwd">Label</label>
                                    <div class="">
                                        @Html.TextBoxFor(m => m.ModelObject.Label, null, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="pwd">Type</label>
                                    <div class="">
                                        @Html.DropDownListFor(m => m.ModelObject.Type,
                                   new[]{
                                            new SelectListItem(){ Text = "textbox", Value = "textbox"},
                                            new SelectListItem(){ Text = "textarea", Value = "textarea"},
                                            new SelectListItem(){ Text = "radio", Value = "radio"},
                                            new SelectListItem(){ Text = "checkbox", Value = "checkbox"},
                                            new SelectListItem(){ Text = "dropdown", Value = "dropdown"}
                                            },
                                            "Select Field Type",
                                            new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="row" style="display:none">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="pwd">Placeholder</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.ModelObject.Placeholder, null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="pwd">Css Class</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.ModelObject.CssClass, null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group" style="display:none">
                                <label class="control-label col-sm-6" for="pwd">JavasScript ID</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.ModelObject.JsID, null, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="">

                            <div class="form-group">
                                <div class="text-right">
                                    <input type="submit" value="Update" class="btn btn-default" />
                                    @*<button id="btnCreate" type="button" class="btn btn-default">Create</button>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Users</h4>
                <input type="hidden" id="UserID" />
            </div>
            <div class="modal-body">
            </div>
            
        </div>
    </div>
</div>

<script>



    //function Userid(a) {
    //    $(".modal-body").load("/UserNew/UserRolesEdit?id=" + a)
    //    $("#UpdateUsersClass").attr("_id", a);
    //}

    

</script>